* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.memory-game {
  width: 1200px;
  height: 850px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(15% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  transform: scale(1);
  position: relative;
  transition: transform 0.25s;
  transform-style: preserve-3d;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.8s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
